/* Page is responsive, try minimizing from your desktop */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #fff;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 20px;
    line-height: 1.6em;
    width: 100%;
}

img{
    height: 250px;
    width: 450px;
    margin-top: 12px;
}

h1{
    padding: 20px;
    text-decoration: underline;
}

.container{
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    min-height: 480px;
    width: 500px;
    overflow: auto;
}

h2{
    margin:10.5px;
    text-align: center;
}

.container article{
    border:2px solid #333;
    border-radius: 8px;
    padding: 12px;
}
.container article ul{
   list-style: none;
}

/* This footer grid runs reponsively */
.page-footer{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 12px;
  justify-content: space-evenly;
  background-color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #fff;
  padding: 12px;
  margin-top: 50px;
  font-weight: bold;
}

.f-sect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.page-footer a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.page-footer a:hover{
    color: orange;
}

.page-footer ul{
    list-style: none;
}

.page-footer li{
    text-align: center;
}

.page-footer img{
    width: 40%;
    height: 40%;
}

.logos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.page-footer h3{
    text-align: center;
}

.logos{
    height: 55%;
    width: 55%;
}

.footer-2{
    font-weight: bold;
    color: orange;
    text-align: center;
    padding: 12px;
}

@media (min-width: 62em) {
    body{
        width: 100%;
    }
}